!/spec/fixtures/site.pp
!/spec/hieradata/default.yaml
.*.sw?
.yardoc
/.bundle
/.rspec_system
/.vagrant
/doc
/junit
/log
/pkg
/spec/fixtures
/spec/rp_env
/vendor
Gemfile.lock
dist
sec_results
spec/acceptance/suites/default/nodesets
